/* Main Content */
.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  /* padding-top: 1rem; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  flex-shrink: 0;
  border: 0.18rem solid var(--outline);
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
}
.logo__link {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 0.1rem;
  width: 100%;
  height: 100%;
}
.logo__text {
  color: #FFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
  font-family: Barlow Semi Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 78.571% */
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
  border-radius: 10px;
  width: 150px;
  height: 100%;
  line-height: 1;
}

.score__title {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: var(--score-text);
}

.score__number {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}
/* Main */
.main{
  margin: 1rem auto;
  height: 100%;
}
/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(5, 1fr));
  grid-template-areas:
     ". . scissors . ."
     "spock  .  .  . paper"
     " . . . . ."
      ". lizard . rock .";
  place-items: center;
  height: 30rem;
  margin-top: 1.5rem;
  padding-bottom: 4rem;
}
.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../../assets/img/bonus/pentagon.svg") no-repeat center;
  background-size: 350px;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.choice-btn:hover{
  opacity: 0.8;
  transform: translateY(10px);
}
.choice {
  position: relative;
  width: 8rem;
  height: 8rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0.5rem var(--shadow-light);
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #223351;
  z-index: -2;
}

.choice img {
  transform: scale(1.3);
}

.choice.paper::before {
  background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
}
.choice.scissors::before {
  background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--scissors-2);
}
.choice.rock::before {
  background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--rock-2);
}
.choice.lizard::before {
  background: linear-gradient(to bottom, var(--lizard-1), var(--lizard-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--lizard-2);
}
.choice.spock::before {
  background: linear-gradient(to bottom, var(--spock-1), var(--spock-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--spock-2);
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-120%, 0%);
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
  position: relative;
  top: 0;
  transform: translateY(-10%);
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
  position: relative;
  left: 0;
  top: 0;
  transform: translate( -50% , 78%);
}
.choice-btn[data-choice="lizard"] {
  grid-area: lizard;
  position: relative;
  left: 0;
  top: 0;
  transform: translate( 50% , 80%);
}
.choice-btn[data-choice="spock"] {
  grid-area: spock;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(70%, 0%);
}
/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
     "you-title ai-title"
     "you-picked ai-picked";
  max-width: 1000px;
  margin: 0 auto;
  gap: 5rem;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  width: 100%;
  display: block;
  padding: 4.5rem 1rem 3rem;
  color: var(--light-text);
}
.results__result {
  width: 8rem;
  height: 8rem;
  background: #16213d;
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  gap:1rem  5rem;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
     "you-title . ai-title"
     "you-picked result-winner ai-picked";
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.winner .choice::after {
  box-shadow: 0 0 0 20px #293251, 0 0 0 50px #232c4b, 0 0 0 90px #1e2949;
  animation: winner 1s forwards;
  z-index: -50;
}
@keyframes winner {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}
.results__text {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
  color: var(--light-text);
  text-align: center;
}
.play-again {
  background: #fff;
  outline: none;
  border: 0.25rem solid transparent;
  border-radius: 0.6rem;
  color: var(--dark-text);
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;

}
.play-again:focus {
  border: 2px solid var(--outline);
}
.play-again:hover{
  color: var(--light-text);
  background-color: var(--bg-grad-2);
  border: inherit solid;
}
.hidden {
  display: none;
}



/* ------------------------------------- */
/*************MOBILE DEVICES *************/
/* ------------------------------------- */

@media only screen and (max-width: 767px) {
  /* Main Content */
  .container {
     max-width: 375px;
     margin: 0 auto;
     /* padding-top: 1rem; */
  }

  .header {
     height: 96px;
     padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  }

  .logo__text {
     color: var(--light-text);
     text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
     font-size: 21px;
     line-height: 16px;
  }

  .score {
     width: 80px;
     height: 72px;
     flex-shrink: 0;
     border-radius: 4px;
     box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }

  .score__title {
     font-size: 10px;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 1.563px;
  }

  .score__number {
     font-size: 40px;
     line-height: 1;
  }
  .main{
    margin: auto 4rem;
  }
  /* Game */
  .game {
     position: relative;
     display: grid;
     grid-template-columns: (repeat(5, 1fr));
     grid-template-areas:
        ". . scissors . ."
        "spock  .  .  . paper"
        " . . . . ."
         ". lizard . rock .";
     place-items: center;
     margin-top: 5rem;
     height: 18rem;
     margin: inherit 2rem ;
  }
  .game::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../../assets/img/bonus/pentagon.svg") no-repeat center;
    background-size: contain;
    z-index: -1;
  }

  .choice {
     width: 5rem;
     height: 5rem;
     box-shadow: inset 0 0.2rem var(--shadow-light);
  }
  .choice::before,
  .choice::after {
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     transform: translate(-6.5%, -6.5%);
     width: 115%;
     height: 115%;
  }

  .choice::after {
     opacity: 0;
     transition: opacity 0.3s ease;
  }
  .choice-btn:focus .choice::after {
     opacity: 1;
     box-shadow: 0 0 0 1rem #223351;
     z-index: -2;
  }

  .choice img {
     transform: scale(0.7);
  }

  .choice.paper::before {
     box-shadow: 0 0.15rem var(--shadow-med), 0 0.15rem var(--paper-2);
  }
  .choice.scissors::before {
     box-shadow: 0 0.15rem var(--shadow-med), 0 0.15rem var(--scissors-2);
  }
  .choice.rock::before {
     box-shadow: 0 0.15rem var(--shadow-med), 0 0.15rem var(--rock-2);
  }
  .choice.lizard::before {
     box-shadow: 0 0.15rem var(--shadow-med), 0 0.15rem var(--lizard-2);
  }
  .choice.spock::before {
     box-shadow: 0 0.15rem var(--shadow-med), 0 0.15rem var(--spock-2);
  }


  .choice-btn[data-choice="paper"] {
    grid-area: paper;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-60%, -10%);
  }
  .choice-btn[data-choice="scissors"] {
    grid-area: scissors;
    position: relative;
    top: 0;
    transform: translateY(-25%);
  }
  .choice-btn[data-choice="rock"] {
    grid-area: rock;
    position: relative;
    left: 0;
    top: 0;
    transform: translate( -10% , 100%);
  }
  .choice-btn[data-choice="lizard"] {
    grid-area: lizard;
    position: relative;
    left: 0;
    top: 0;
    transform: translate( 20% , 100%);
  }
  .choice-btn[data-choice="spock"] {
    grid-area: spock;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-35%, -10%);
  }

  /* Results */
  .results {
     display: grid;
     grid-template-columns: 50% 50%;
     place-items: center;
     grid-template-areas:
        "you-picked ai-picked"
        "you-title ai-title";
     gap: 3rem;
     place-items: center;
     margin: 6rem auto 0;

  }

  .results__heading {
     display: block;
     padding: 0rem;
     text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
     font-size: 15px;
     font-weight: 700;
     line-height: 32px;
     letter-spacing: 1.875px;
     text-align: center;
     width: 100%;
  }
  .results__result {
     width: 5rem;
     height: 5rem;
     background: #16213d;
     border-radius: 50%;
     transform: scale(1.2);
     z-index: -1;
  }

  .results.show-winner {
     gap: 1rem 6rem;
     place-items: center;
     grid-template-rows: 200px 40px 130px;
     grid-template-columns: repeat(2, 1fr);
     grid-template-areas:
        "you-picked  ai-picked"
        "you-title  ai-title"
        "result-winner result-winner";
     margin: 2rem auto;
  }

  .results__winner {
     grid-area: result-winner;
     display: grid;
     place-items: center;
     height: fit-content;
  }
  .winner {
     max-height: 5rem;
     max-width: 5rem;
  }
  .winner .choice::after {
     box-shadow: 0 0 0 10px #293251, 0 0 0 20px #232c4b, 0 0 0 40px #1e2949;
     animation: winner 1s forwards;
     /* z-index: -50; */
  }
  @keyframes winner {
     from {
        opacity: 0;
     }
     to {
        opacity: 1;
     }
  }
  .results__text {
     padding-bottom: 1.5rem;
     color: var(--light-text);
     text-align: center;
     text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
     font-size: 56px;
     font-weight: 700;
     line-height: normal;
  }
  .play-again {
     padding: 0.6rem 3.5rem;
     font-family: inherit;
     font-size: 16px;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 2.5px;
  }
  .play-again:focus {
     border: 2px solid var(--outline);
  }
  .hidden{
    display: none;
  }
}



/*  */
@media only screen and (max-width: 400px) {
  .container {
     margin: inherit 1.3rem;
  }
  .header {
     margin: inherit 1.5rem;
  }
}
