

/* Game */
.game {
  grid-template-areas:
    "paper scissors"
    "rock rock";
}
.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 13%;
  top: 28%;
  background: url("../../assets/img/triangle.svg") no-repeat;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0.5rem var(--shadow-light);
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #223351;
  z-index: -2;
}

.choice img {
  transform: scale(1.5);
}

.choice.paper::before {
  background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
}
.choice.scissors::before {
  background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--scissors-2);
}
.choice.rock::before {
  background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--rock-2);
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

/* Results */
.results {
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
}

.results__heading {
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}
.results.show-winner{
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'you-title . ai-title'
  'you-picked result-winner ai-picked';
}
.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;

}
.block {
}
.results__text {
}
.play-again {
}
@media only screen and (max-width:768px) {

/* Game */

.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10%;
  top: 20%;
  background: url("../../assets/img/triangle.svg") no-repeat;
  z-index: -1;
}

.choice {
  width: 6rem;
  height: 6rem;
  box-shadow: inset 0 0.5rem var(--shadow-light);
}

.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #223351;
  z-index: -2;
}

.choice img {
  transform: scale(1);
}



/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
  "you-picked ai-picked"
  "you-title ai-title";
  max-width: 700px;
  margin: 0 auto;
}

}